<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dinero</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Dinero  </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://dinero-web.heroku.com/">Dinero-Search</a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://dinero-web.heroku.com/my-space">My-Space</a>
                    </li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header --> <!-- 
    <header>
        <div class="container">
            <div class="row">
         
		  <div class="col-lg-12">
          
                    <div class="intro-text">
                        <span class="name">Shopping Is Easy!</span>
                        <hr class="star-light">
                        <span class="skills">with Dinero</span>
                    </div>
					</div>

 </div>
        </div>
    </header>
--> 



    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <div class="col-lg-12 text-center">
                    <h2>Dinero Search</h2>
                    <hr class="star-primary">
					
<h5>Search Items</h5>

<form method="post" href="http://dinero-web.heroku.com/search">
<p><input type="text" name="add" value="" placeholder="Item Name"></p>
      


<!-- icons buttons: -->
<form action="http://dinero-web.heroku.com">
  <input type="image" src="../static/img/ebay.png" alt="Submit" width="48" height="48">
</form>
                    <form action="http://dinero-web.heroku.com">
  <input type="image" src="../static/img/alii.png" alt="Submit" width="48" height="48">
</form>
                    <form action="http://dinero-web.heroku.com">
  <input type="image" src="../static/img/dealextreame.png" alt="Submit" width="48" height="48">
</form>
                    <form action="http://dinero-web.heroku.com">
  <input type="image" src="../static/img/amazon.jpg" alt="Submit" width="48" height="48">
</form>


     <!-- Webs field:
<p><input type="text" name="add2" value="" placeholder="Web,Web,Web..."></p>
        </p>
-->

<p class="submit"><input type="submit" value="Search Now" class="btn btn-success"></p>

<!--
 <a href="http://localhost:8080/search"  class="button3">Search Now</a>
<a href="http://localhost:8080/search"  class="button3">Search By Range</a>
<a href="http://localhost:8080/search"  class="button3">Search Cheap</a>
 -->

 
		
					
					
                </div>
            </div>
           
    </section>





    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>



    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/freelancer.js"></script>
	
	 <script type="text/javascript" language="javascript" src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
                        <script>
                        $(document).ready(function() {
                                $('#example').DataTable({
    buttons: [
        {
            extend: 'excel',
            text: 'Save current page',
            exportOptions: {
                modifier: {
                    page: 'current'
                }
            }
        }
    ]
} );
                                $("#results").DataTable();
                              
                        } );
                        </script>


</body>

</html>
